<div>
  <h1><%= user.username %></h1>
  <img src="<%= user.image %>" alt="<%= user.username %>">

  <form method="POST" action="/profile">
    <input type="hidden" name="_method" value="DELETE">
    <button>Delete Account</button>
  </form>
</div>
