<h1>Create Event</h1>



<form method="POST" action="/events" enctype="multipart/form-data">

  <div>
    <label for="image">Image</label>
    <input type="file" name="image" id="image">
  </div>

  <div>
    <label for="name">Name</label>
    <input class="u-full-width" type="text" name="name" id="name" required>
  </div>

  <div>
    <label for="location">Location</label>
    <input class="u-full-width" type="text" name="location" id="location" required>
  </div>

  <div>
    <label for="date">Date</label>
    <input class="u-full-width" type="text" name="date" id="date" required>
  </div>

  <div>
    <label for="description">Description</label>
    <input class="u-full-width" type="text" name="description" id="description" required>
  </div>

  <button class="button-primary u-full-width">Create Event</button>

</form>
