<h1 id="pageTitle">Create Event</h1>

<div class="jumbotron">

</div>
<form method="POST" action="/events" enctype="multipart/form-data">

  <input type="hidden" name="lat" id="lat">
  <input type="hidden" name="lng" id="lng">

  <div class="col-6 offset-3">
    <label id="imageUpload">Upload image</label>
    <input placeholder="Upload image" class="inputfile" type="file" name="image">
  </div>

  <div id="formfield" class="col-6 offset-3">
    <input placeholder="Name" class="u-full-width" type="text" name="name" id="name" required>
  </div>

  <div id="formfield" class="col-6 offset-3">
    <input placeholder="Location" class="u-full-width autocomplete" type="text" name="location" id="location" required>
  </div>

  <div id="formfield" class="col-6 offset-3">
    <input placeholder="Date" class="u-full-width" type="text" name="date" id="date" required>
  </div>

  <div id="formfield" class="col-6 offset-3">
    <input placeholder="Description" class="u-full-width" type="text" name="description" id="description" required>
  </div>

  <div id="formfield" class="col-6 offset-3">
    <button id="createButton" class="button-primary">Create Event!</button>
  </div>

</form>
