<h1>Create Event</h1>



<form method="POST" action="/events" enctype="multipart/form-data">

  <input type="hidden" name="lat" id="lat">
  <input type="hidden" name="lng" id="lng">

  <div>
    <label for="image">Image</label>
    <input type="file" name="image" id="image">
  </div>

  <div id="formfield" class="col-6 offset-3">
    <input placeholder="Name" class="u-full-width" type="text" name="name" id="name" required>
  </div>

  <div id="formfield" class="col-6 offset-3">
    <input placeholder="Location" class="u-full-width autocomplete" type="text" name="location" id="location" required>
  </div>

  <div id="formfield" class="col-6 offset-3">
    <input placeholder="Date" class="u-full-width" type="text" name="date" id="date" required>
  </div>

  <div id="formfield" class="col-6 offset-3">
    <input placeholder="Description" class="u-full-width" type="text" name="description" id="description" required>
  </div>

  <button class="button-primary u-full-width">Create Event</button>

</form>
