<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Proxy</title>
  <% include ./partials/_stylesheets %>
  <% include ./partials/_scripts %>
</head>
<body>
  <% include ./partials/_header %>
  <main class="container">
    <%- body %>
  </main>
  <% include ./partials/_footer %>
</body>
</html>
