html, body {
  margin: 0;
}

body {
  text-align: center;
  background: #f5f4f1;
  font-family: 'Modak', cursive;
}

nav {
  color: white;
  background: #4facdf;
  padding: 20px 0;
}

h1 {
  margin: 0;
  font-size: 40px;
}

label {
  font-size: 30px;
}

h1, button, label, input[type="submit"] {
  -webkit-text-stroke: 1px #000;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

form {
  padding: 20px;
}

label, input {
  display: block;
  margin: 0 auto;
  outline: 0;
}

input[type="submit"], button {
  background: #ff4040;
  padding: 5px 20px;
  border: none;
  font-family: 'Modak', cursive;
  font-size: 16px;
  border-radius: 5px;
}

input[type="submit"]:hover, button:hover {
  background: #ffe000;
}

input[type="text"] {
  margin: 10px auto;
  text-align: center;
  font-size: 20px;
  height: 35px;
  border-radius: 5px;
  border: 0;
}

img {
  border-radius: 5px;
  margin: 5px;
  max-width: 200px;
  vertical-align: middle;
}
