<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>BIG events</title>
  <% include ./partials/_stylesheets %>
  <% include ./partials/_scripts %>
  <% include ./partials/_navbar %>
</head>


  <body>

    <h1>BIG EVENTS</h1>

    <main class="row">
    <% for (const type in messages) { %>
      <p class="alert alert-<%= type %>"><%= messages[type] %></p>
      <% } %>
      <%- body %>
    </main>

  </body>
</html>
