  <div class="row">
    <div id="banner" class="col-4 offset-4">
      <h1>Big Events</h1>
      <h2 id="tagline">Big marketing for any event</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
      <form method="GET" action="/events">
        <input id="searchboxmain" type="text" name="q" placeholder="Search by name">
      </form>
    </div>
    <div class="col-4">
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <section id="homeimage">
        <h1 id="word"></h1>
      </section>
    </div>
  </div>

  <div class="col-4 offset-4">
    <p id="testimonials"></p>
  </div>


  <div class="col-4 offset-4">
    <p id="corpinfo">BROUGHT TO YOU BY THE JIMBO CORPORATION</p>
  </div>
