<div>
  <h1>Big Events - big marketing for any event.</h1>
  <form method="GET" action="/events">
    <label>Search by name</label>
    <input type="text" name="q" placeholder="Search">
  </form>
</div>
