<h1>New Car</h1>

<div class="row">
  <form class="six columns" method="POST" action="/cars">

    <div>
      <label for="model">Model</label>
      <input class="u-full-width" type="text" name="model" id="model" required>
    </div>

    <div>
      <label for="author">Brand</label>
      <input class="u-full-width" type="text" name="brand" id="brand" required>
    </div>
    <div>
      <label for="author">Speed</label>
      <input class="u-full-width" type="text" name="speed" id="speed" required>
    </div>
    <div>
      <label for="author">Acceleration</label>
      <input class="u-full-width" type="text" name="acceleration" id="acceleration" required>
    </div>



    <div>
      <label for="author">Image</label>
      <input class="u-full-width" type="text" name="image" id="image" required>
    </div>


    <button class="button-primary u-full-width">Add Car</button>
  </form>
</div>
