<div class="jumbotron">
</div>
<h1 id="pageTitle">Login</h1>

<form method="POST" action="/login">
  <div id="formfield" class="col-6 offset-3">
    <label for="email">Email</label>
    <input type="text" name="email" id="email">
  </div>

  <div id="formfield" class="col-6 offset-3">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
  </div>

  <div id="formfield" class="col-6 offset-3">
    <button class="btn-primary" id="createButton">Login</button>
  </div>

  <div id="formfield" class="col-6 offset-3">
      <button class="btn-primary" id="createButton"><a href="<%= oauth.facebook.getLoginURL() %>" target="_blank" >Login With facebook</a></button>
  </div>
</form>
